* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}
/* colors: https://material.io/tools/color/#!/?view.left=1&view.right=0&primary.color=80D8FF&secondary.color=69F0AE */
#country {
  margin-bottom:3rem;
}
.searchForm {
  width:70%;
  margin:auto;
  margin-bottom:0.5rem;
}

.card {
  width:20%;
  margin:0 auto;
}

.card-action {
  cursor:pointer;
}
.card-action:hover {
  color:#777;
  box-shadow: 1, 1, 1, 1;
}